doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Mes Loisirs
    link(rel="stylesheet", href="/public/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/public/css/app.css", type="text/css")
  body
    div.container
      each loisir in loisirs.reverse()
        div.list-group
          a.list-group-item.row
            div.col-xs-2
              img.img-thumbnail.media-object#logo(src=loisir["logo"])
            div.col-xs-10
              h4.list-group-item-heading !{loisir["title"]} - !{loisir["author"]}
              p.list-group-item-text !{loisir["description"]}
              div.list-footer
                div.pull-left
                  small 
                    each val in [1, 2, 3, 4, 5]
                      if loisir["rating"] >= val
                        span.glyphicon.glyphicon-star
                      else
                        span.glyphicon.glyphicon-star-empty
                  span &nbsp; !{loisir["rating"]} stars
                span
                  each tag in loisir["tags"]
                    span.label.label-default !{tag}
                    span &nbsp;
                div.pull-right
                  small !{loisir["date"]}
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
  </body>
</html>
