div#top
  h1 !{perso["cv"]["name"]}
  ul#contact
    li !{perso["cv"]["address"]}
    li Tel: !{perso["cv"]["telephone"]}, !{perso["cv"]["email"]}
    li 
      a(href=perso["cv"]["personalSite"]) !{perso["cv"]["personalSite"]}
    li !{perso["cv"]["maritalStatus"]}
  img#photo(alt="Photo", src=perso["cv"]['photo'])